body {
    background-image: url(../images/BACKGROUND.jpg);
}

.directions {
    background-color: rgba(255, 255, 255, 0.701);
    font-family: monospace;
    margin: 20px;
    padding: 15px;
}

#title {
    font-family: monospace;
    margin: 20px;
    padding: 15px;
    background-color: rgba(255, 170, 170, 0.701)
}

img {
    height: 200px;
    width: 200px;
    margin: 10px;
}

.score {
    background-color: teal;
    padding:20px;
    margin: 20px;
}

p {
    padding: 10px;
}

.yourTotal {
    background-color: rgba(143, 254, 243, 0.708);
    font-family: monospace;
    padding: 10px;
    margin: 20px;
}

.row {
    margin-left: 5px;
}